body {
    margin: 0px;
    background-color: blue;
    margin-left: 25px;
}

.first-text {
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: medium;
    margin-bottom: 0px;
    margin-top: 150px;

}

.second-text {
    color: white;
    font-size: x-large;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
    flex-direction: column;

}

.third-text {
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;

}

.small-text {
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: x-small;
}

a {
    color: white;
    flex-direction: row;
    margin-right: 0px;

}

a:visited {
    color: fuchsia;
}

a:hover {
    color: #00ff00;
}

.head {
    border: 0px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 25px;

}

.button-2 {
    border: 0px;
    border-radius: 25px;
    padding: 10px 25px;
    color: white;
    background-color: orange;
    font-family: arial;
    font-weight: bold;
}

.mid {
    flex-direction: row;
    justify-content: center;
}

.mid-text {
    color: white;
    flex-direction: row;
    justify-content: center;
}

.mid-text-1 {
    color: white;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;

}

.picture-1 {
    margin-top: 125px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 25px;
}

.button-2 {
    border: 0px;
    border-radius: 25px;
    padding: 10px 25px;
    color: white;
    background-color: orange;
    font-family: arial;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.bottom-1 {
    color: white;
    flex-direction: row;
    justify-content: center;
    flex-basis: 450px;
}

.bottom-2 {
    color: white;
}

.bottom-1-text-1 {
    color: white;
    flex-direction: column;


}

.bottom-1-text-2 {
    color: white;
    justify-content: column;
}

.bottom-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gif-1 {
    flex-direction: row;
}

.gif-2 {
    justify-content: center;
    flex-direction: row;

}

.png-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom-text {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-1 {
    display: flex;
    flex-direction: column;
    flex-basis: px;
}