body {
    margin: 0px;
    background-color:rgba(73,18,246,255);
    margin-left: 50px;
    margin-right: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

.section-1 {
    flex-direction: row;
    flex-basis: 400px;
    align-content:center;

}

.button-1 {
    border: 0px;
    border-radius: 25px;
    padding: 10px 25px;
    color: white;
    background-color: orange;
    font-family: arial;
    font-weight: bold;
}

.first-text {
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: larger;
    margin-bottom: 0px;
    margin-top: 150px;

}

.second-text {
    color: white;
    font-size: x-large;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
    flex-direction: column;

}

.third-text {
    font-size: medium;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;

}

.small-text {
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-top: 25px;
    margin-bottom: 0px;
    font-size: x-small;
}

a {
    color: white;
    flex-direction: row;
    margin-right: 0px;

}

.head {
    border: 0px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-left: 25px;

}

.button-2 { 
    border: 0px;
    border-radius: 25px;
    padding: 10px 25px;
    color: white;
    background-color: orange;
    font-family: arial;
    font-weight: bold;
}

.mid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 500px;
}

.mid-text {
    color: white;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: self-end;
    
}

.mid-text-1 {
    color: white;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}

.button-2 {
    border: 0px;
    border-radius: 40px;
    padding: 25px 25px;
    color: white;
    background-color: orange;
    font-family: arial;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: medium;
}

.bottom-image-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    
}

.gif-1 {
    width:400px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-basis: 150px;
    padding-top: 150px;
    margin-right: 100px;
    flex-basis: 1100px;
    
    
}

.gif-2 {
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    

}

.png-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: right 100px;
    width: 450px; 
}

.bottom-1 {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-1 {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
}

.bottom-1-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    
}
.top{
    font-weight: bold;
    font-size: larger;
    font-stretch:auto;
}

.test {
    color: white;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
    align-content: center;
    font-size: larger;
    font-weight: bolder;
}

.bottom-2-text {
    color: white;
    display: flex;
    flex-direction: column;
    margin-right: 300px;
    margin-left: 100px;
}

.bottom-section { 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    margin-left: 0px;
}
.underlined-text{
    font-weight: bolder;


.leftSide {
    display: flex;
    flex-direction:column
}
}